.before-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-cell {
  width: fit-content;

  img {
    width: 65px;
    height: 65px;
    object-fit: scale-down;
  }
}
