/* Table Content Sizing */
.table th,
.table td {
  max-width: min-content;
  min-width: min-content;
  padding: .75rem;
}

.relationship-cell,
.cell-image,
.cell-article {
  max-width: fit-content !important;
  min-width: min-content;
}

/* Hides Create New Button inside Dropdown in Edit Mode */
a.popup-button-list__button#action-create {
  display: none;
}

/* Primary Buttons and Create/Edit/Delete Pills */
.pill.pill--has-link.pill--has-action,
.pill.delete-documents__toggle,
.edit-many__toggle,
.pill.publish-many__toggle,
.pill.unpublish-many__toggle,
.btn--style-primary,
button#action-save {
  background-color: #c8353c;
  color: #fff;
}

.pill.pill--has-link.pill--has-action:hover,
.pill.delete-documents__toggle:hover,
.edit-many__toggle:hover,
.pill.publish-many__toggle:hover,
.pill.unpublish-many__toggle:hover,
.btn--style-primary:not(.btn--disabled):hover,
.btn--style-primary:not(.btn--disabled):focus-visible,
button#action-save:hover {
  background-color: #af2e35;
  color: #fff;
}

/* Chevron Icon for Selected in Nav and Table */
.nav__link-icon .icon--chevron .stroke,
.sort-column__asc .icon--chevron .stroke,
.sort-column__desc .icon--chevron .stroke {
  stroke: #C80A15;
}


/* Add Button on Cards */
a.btn.btn--icon-only .btn__content .btn__icon {
  border-color: #C80A15;
  color: #C80A15;
}

a.btn.btn--icon-only:hover .btn__content .btn__icon {
  background-color: #C80A15;
}


/* Custom Buttons for Layout Toggle */
.btn--style-on {
  border-radius: 4px !important;
  padding: .96rem 1rem !important;
  border: 1px solid #C80A15 !important;
}

.btn--style-off {
  padding: .96rem 1rem !important;
}

.btn--style-off .btn__content .btn__label {
  display: none !important;
}

.btn--style-off:hover .btn__content .btn__label {
  display: inline !important;
}

.btn.btn--style-off:hover .btn__icon,
.btn.btn--style-on:hover .btn__icon,
.btn.btn--style-on:focus-visible .btn__icon {
  background: none !important;

}

/* Button on Logout Screen */
.btn:focus:not(:focus-visible),
.checkbox-input:not(.checkbox-input--read-only):active .checkbox-input__input,
.checkbox-input:not(.checkbox-input--read-only):active input[type=checkbox],
.checkbox-input:not(.checkbox-input--read-only):focus-within .checkbox-input__input,
.checkbox-input:not(.checkbox-input--read-only):focus-within input[type=checkbox],
.checkbox-input:not(.checkbox-input--read-only):focus .checkbox-input__input,
.checkbox-input:not(.checkbox-input--read-only):focus input[type=checkbox],
.radio-input input[type=radio]:focus+.radio-input__styled-radio {
  box-shadow: inset 0 0 0 1px var(--theme-elevation-700), 0px 0px 1px 2px #ffb1b5 !important;
}

/* Side Bar */
.nav-group__label {
  font-size: 1.25rem !important;
  font-weight: 500 !important;
}

.nav-group__content {
  padding-left: .5rem;
}

@media (max-width: 768px) {
  .nav-group__label {
    font-size: 1.85rem !important;
  }
}

@media (max-width: 768px) {
  .nav nav a {
    font-size: 1.5rem !important;
  }
}


/* Dashboard  */
.dashboard__label {
  font-size: 1.33rem;
  color: rgb(141, 141, 141);
}


/* Selection Colors */
::-moz-selection {
  /* Code for Firefox */
  color: #fff;
  background: #c80a13df;
}

::selection {
  color: #fff;
  background: #c80a13df;
}
